#container{
    display: flex;
    border: 1px solid black;
    height: 1000px;
    width: 1000px;
    justify-content: center;
    align-items: center;
}

div{
    border: 1px solid black;
    flex-wrap: wrap;
}